* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150vh;
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    align-self: stretch;
}

.topNav {
    display: flex;
    background-color: rgba(0, 0, 0, .84);
    color: white;
    flex-basis: 100px;
    align-items: center;
    justify-content: flex-end;
}

.topNav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: auto;
}

.topNav a i,
ul i {
    font-size: 40px;
}

.offBigUl {
    display: flex;
}

.dropDownMenu {
    display: flex;
    background-color: rgba(0, 0, 0, .84);
    height: 50px;
    border-top: 3px solid white;
    color: white;
    justify-content: center;
    align-items: center;
}

.dropDownMenu .flags {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 10px;
    transform: translateX(-8px);
    cursor: pointer;
}

.dropDownMenu .flags:first-of-type {
    background-image: url("../Photos/spain.png");
    background-size: contain;
}

.dropDownMenu .flags:nth-of-type(2) {
    background-image: url("../Photos/united-kingdom.png");
    background-size: contain;
}

.dropDownMenu .flags:last-of-type {
    background-image: url("../Photos/germany.png");
    background-size: contain;
}

li a,
.dropDownMenu a {
    text-decoration: none;
    color: white;
}

.offMobileUl {
    display: none;
}

.offMobileUl i {
    margin-right: 4vw;
    cursor: pointer;
}

.off {
    display: none;
}

.coronaNav {
    position: relative;
    background-color: rgba(255, 234, 100);
    font-weight: 500;
    padding-left: 10px;
    height: 50px;
    cursor: pointer;
}

.coronaAnimation {
    /* border: aqua 2px solid; */
    position: absolute;
    height: 100%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-17%, -50%);
    overflow: hidden;
    cursor: pointer;
}

footer {
    background-color: rgba(232, 228, 228);
    align-self: stretch;
    flex-basis: 200px;
    color: black;
}

.bottomNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .84);
    color: white;
    padding: 8px 0;
}

.bottomNavWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomNavWrapper p {
    font-size: 30px;
}

.signUpArea {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 8px;
    padding: 8px 0;
    color: black;
    font-size: 20px;
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgb(112, 112, 112);
}

div button {
    background-color: rgb(217, 75, 75);
    color: white;
    border: 2px solid rgb(112, 112, 112);
    padding: 0 8px;
    border-radius: 20px;
    cursor: pointer;
}

.footerIcons {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    cursor: pointer;
}

.footerText {
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-top: 8px;
}

.bottomNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1200px) {

    nav {
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

    .topNav {
        display: flex;
        background-color: rgba(0, 0, 0, .84);
        color: white;
        flex-basis: 100px;
        align-items: center;
        justify-content: flex-end;
    }

    .topNav a {
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }

    .topNav .busLogo {
        position: absolute;
        right: 65vw;
    }

    .topNav a i,
    ul i {
        font-size: 40px;
    }

    .offBigUl {
        display: flex;
        margin-right: 10vw;
    }

    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }

    .headerWrapper {
        padding-left: 10%;
    }

    .coronaNav p:first-of-type {
        transform: translateY(4px);
        padding-left: 20%;
    }

    .coronaAnimation p {
        animation-duration: 10s;
    }

    .topNav .offBigUl {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flagsWrapper {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
    }

    .flagsWrapper .flags {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background-size: contain;
        margin-left: 5px;
    }

    .flagsWrapper .flags:first-of-type {
        background-image: url("../Photos/spain.png");
    }

    .flagsWrapper .flags:nth-of-type(2) {
        background-image: url("../Photos/united-kingdom.png");

    }

    .flagsWrapper .flags:last-of-type {
        background-image: url("../Photos/germany.png");
    }

    section {
        margin: 0 calc(100% - 85vw);
    }

    footer {
        background-color: rgba(232, 228, 228);
        align-self: stretch;
        flex-basis: 190px;
        color: black;
    }

    .bottomNav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, .84);
        color: white;
        padding: 8px 0;
    }

    .bottomNavWrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .bottomNavWrapper .bottomLine {
        position: absolute;
        height: 56px;
        width: 3px;
        background-color: rgba(232, 228, 228);
        border-radius: 20px;
        transform: translate(20vw, -8px);
    }

    .bottomNav .bottomLine:last-of-type {
        position: absolute;
        height: 122px;
        width: 3px;
        background-color: rgba(0, 0, 0, .84);
        border-radius: 20px;
        transform: translate(20vw, 54px);
    }

    .menuItems {
        transform: translateY(-7px);
    }

    .menuItems li {
        margin-left: 40px;
    }

    .signUpArea {
        position: absolute;
        display: flex;
        justify-content: space-around;
        background-color: white;
        margin-top: 8px;
        padding: 8px 0;
        color: black;
        font-size: 20px;
        width: 300px;
        border-radius: 15px;
        border: 2px solid rgb(112, 112, 112);
        transform: translate(25%, 70px);
    }

    div button {
        background-color: rgb(217, 75, 75);
        color: white;
        border: 2px solid rgb(112, 112, 112);
        padding: 0 8px;
        border-radius: 20px;
        cursor: pointer;
    }

    .footerIcons {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        width: 500px;
        padding: 8px 0;
        cursor: pointer;
        transform: translate(54vw, 20px);
    }

    .footerMessage {
        font-style: italic;
        position: absolute;
        font-size: 16px;
        transform: translate(20.5vw, 83px);
    }

    .footerText {
        text-align: center;
        font-size: 16px;
        padding-bottom: 8px;
        font-style: italic;
        position: absolute;
        transform: translate(60vw, 83px);
    }

    .bottomNav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .bottomNav p {
        font-size: 30px;
        transform: translateX(50px);
    }

    .wrapper {
        display: none;
    }
}

@media (max-width: 1199px) {
    section {
        flex-direction: column;
    }

    .offBigUl {
        display: none;
    }

    .offMobileUl {
        display: block;
    }

    .footerMessage {
        display: none;
    }
}

@keyframes corona {
    0% {
        transform: translate(-120%, -50%);
    }

    100% {
        transform: translate(51%, -50%);
    }
}