* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150vh;
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    align-self: stretch;
}

.topNav {
    display: flex;
    background-color: rgba(0, 0, 0, .84);
    color: white;
    flex-basis: 100px;
    align-items: center;
    justify-content: flex-end;
}

.offBigUl {
    display: flex;
}

.dropDownMenu {
    display: flex;
    background-color: rgba(0, 0, 0, .84);
    height: 50px;
    border-top: 3px solid white;
    color: white;
    justify-content: center;
}

.offMobileUl {
    display: none;
}

.off {
    display: none;
}

.coronaNav {
    position: relative;
    background-color: rgba(255, 234, 100);
    font-weight: 500;
    padding-left: 10px;
    cursor: pointer;
}

.coronaAnimation {
    /* border: aqua 2px solid; */
    position: absolute;
    height: 100%;
    width: 60%;
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-style: italic;
    transform: translate(-17%, -50%);
    overflow: hidden;
    cursor: pointer;
}

.coronaAnimation p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    background-color: transparent;
    border: none;
    color: black;
    animation: corona 5s linear infinite;
}

header {
    display: flex;
    align-self: stretch;
    flex-basis: 200px;
    align-items: stretch;
}

.headerImg {
    opacity: .75;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.headerWrapper h2 {
    color: black;
    padding: 15px 10px;
}

.headerWrapper p {
    color: black;
    font-weight: 500;
    padding-left: 10px;
    font-size: 25px;
}

.headerWrapper p span {
    color: rgb(217, 75, 75);
    font-weight: 500;
    font-size: 25px;
}

section {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    /* justify-content: space-around; */
}

main div {
    flex-basis: 400px;
    background-color: rgba(232, 228, 228);
    border: 2px solid gray;
    font-weight: 500;
}

main div:last-child {
    margin-bottom: 0;
    flex-basis: 290px;
}

div h4 {
    padding: 2px 10px;
}

.phoneInput,
.mailInput {
    height: 30px;
    border-radius: 7px;
    border: 2px solid grey;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

textarea {
    resize: none;
    border-radius: 7px;
    border: 2px solid grey;
    margin-left: 10px;
    padding: 10px;
}

main div button {
    margin-left: 10px;
    height: 35px;
    border-radius: 10px;
}

footer {
    background-color: rgba(232, 228, 228);
    align-self: stretch;
    flex-basis: 200px;
    color: black;
}

.bottomNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .84);
    color: white;
    padding: 8px 0;
}

.bottomNavWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpArea {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 8px;
    padding: 8px 0;
    color: black;
    font-size: 20px;
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgb(112, 112, 112);
}

div button {
    background-color: rgb(217, 75, 75);
    color: white;
    border: 2px solid rgb(112, 112, 112);
    padding: 0 8px;
    border-radius: 20px;
    cursor: pointer;
}

.footerIcons {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    cursor: pointer;
}

.footerText {
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-top: 8px;
}

li a,
.dropDownMenu a {
    text-decoration: none;
    color: white;
}

.topNav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: auto;
}

div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topNav a i,
ul i {
    font-size: 40px;
}

ul i {
    margin-right: 4vw;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .wrapper {
        display: none;
    }

    .coronaNav {
        background-color: blue;
    }

    div ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section {
        margin: 0 calc(100% - 85vw);
    }
}

@media (min-width: 1000px) and (max-width: 1024px) {
    .coronaNav {
        background-color: brown
    }

    .wrapper {
        display: none;
    }

    div ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section {
        margin: 0 2vw;
    }
}

@media (max-width: 999px) {
    section {
        flex-direction: column;
    }

    /* aside {
        flex-basis: 450px;
        background-image: url('../Photos/maps.PNG');
        background-position-y: 380px;
        background-position-x: center;
        border: 2px solid grey;
        margin-bottom: 35px;
    } */

    header {
        background-image: url('../Photos/contactUs.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .offBigUl {
        display: none;
    }

    .offMobileUl {
        display: block;
    }
}

@keyframes corona {
    0% {
        transform: translate(-120%, -50%);
    }

    100% {
        transform: translate(51%, -50%);
    }
}