.coronaAnimation p {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-140%, -60%);
    background-color: transparent;
    border: none;
    color: black;
    font-size: 12px;
    font-style: italic;
    animation: corona 5s linear infinite;
}

header {
    display: flex;
    align-self: stretch;
    flex-basis: 200px;
    align-items: stretch;
}

.headerImg {
    opacity: .75;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.headerWrapper h2 {
    color: black;
    padding: 15px 10px;
}

.headerWrapper p {
    color: black;
    font-weight: 500;
    padding-left: 10px;
    font-size: 25px;
}

.headerWrapper p span {
    color: rgb(217, 75, 75);
    font-weight: 500;
    font-size: 25px;
}

section {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

main div {
    margin: 10px 0;
}

main div:first-of-type {
    margin-top: 0;
}

main div:last-of-type {
    margin-bottom: 25px;
}

img {
    background-color: white;
    width: 100%;
}

div h2 {
    padding-left: 8px;
    font-weight: 600;
}

div p {
    font-size: 15px;
    padding: 0 20px 10px 10px;
    text-align: justify;
}

main div {
    flex-basis: 100px;
    margin-bottom: 15px;
    background-color: rgba(232, 228, 228);
    border: 2px solid gray;
    font-weight: 500;
}

@media (min-width: 1200px) {

    header {
        background-image: url('../Photos/taxi.jpg');
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-around;
    }

    main div {
        margin: 10px 0;
    }

    main div:first-of-type {
        margin-top: 10px;
    }

    main div:last-of-type {
        margin-bottom: 15px;
    }

    img {
        background-color: white;
        width: 100%;
    }

    div h2 {
        padding-left: 8px;
        font-weight: 600;
    }

    div p {
        font-size: 15px;
        padding: 0 20px 10px 10px;
        text-align: justify;
    }

    main div {
        flex-basis: 30%;
        margin-bottom: 15px;
        background-color: rgba(232, 228, 228);
        border: 2px solid gray;
        font-weight: 500;
    }
}

@media (max-width: 1199px) {
    /* aside {
        flex-basis: 450px;
        background-image: url('../Photos/maps.PNG');
        background-position-y: 380px;
        background-position-x: center;
        border: 2px solid grey;
        margin-bottom: 35px;
    } */

    header {
        background-image: url('../Photos/taxi.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
    }
}