.coronaAnimation p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    background-color: transparent;
    border: none;
    color: black;
    font-size: 12px;
    font-style: italic;
    animation: corona 5s linear infinite;
}

header {
    display: flex;
    align-self: stretch;
    flex-basis: 200px;
    align-items: stretch;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.headerWrapper h2 {
    color: black;
    padding: 15px 10px;
}

.headerWrapper p {
    color: black;
    font-weight: 500;
    padding-left: 10px;
    font-size: 25px;
}

.headerWrapper p span {
    color: rgb(217, 75, 75);
    font-weight: 500;
    font-size: 25px;
}

section {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

main div {
    flex-basis: 400px;
    border: 2px solid gray;
    margin: 20px 0;
}

main h2 {
    font-size: 35px;
    font-weight: 600;
    margin-left: 20px;
}

main h2:first-of-type {
    margin-top: 20px;
}

main h2:last-of-type {
    margin-bottom: 20px;
}

main div:first-of-type {
    background-image: url("../Photos/level0.PNG");
    background-size: cover;
}

main div:nth-of-type(2) {
    background-image: url("../Photos/level1.PNG");
    background-size: cover;
}

main div:last-of-type {
    background-image: url("../Photos/level2.PNG");
    background-size: cover;
}

aside {
    flex-basis: 30%;
    min-width: 400px;
}

@media (min-width: 1200px) {
    header {
        background-image: url('../Photos/blueprints.jpg');
    }

    main {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-around;
    }

    main div {
        flex-basis: 400px;
        border: 2px solid gray;
        margin: 20px 0;
        width: 95%;
    }

    main h2 {
        font-size: 35px;
        font-weight: 600;
        margin-left: 20px;
    }

    main h2:first-of-type {
        margin-top: 20px;
    }

    main h2:first-of-type {
        margin-left: 0;
    }

    main div:first-of-type {
        background-image: url("../Photos/level0.PNG");
        background-size: contain;
    }

    main div:nth-of-type(2) {
        background-image: url("../Photos/level1.PNG");
        background-size: contain;
    }

    main div:last-of-type {
        background-image: url("../Photos/level2.PNG");
        background-size: contain;
    }


    main h2:last-of-type {
        position: absolute;
        top: 1.5%;
        left: 260%;
        transform: translate(-260%, 0);
        width: 500px;
    }

    aside {
        flex-basis: 40%;
        min-width: 600px;
        margin: 15px 0 15px 0;
        background-image: url("../Photos/europe.png");
        background-size: contain;
        height: 975px;
        margin-top: 87px;
        border: 2px solid gray;
    }

    aside .destinationsWrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .destination {
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 50px;
        background-color: royalblue;
        border-radius: 2px solid royalblue;
        cursor: pointer;
    }

    .destination:nth-of-type(1) {
        top: 70.25%;
        left: 12.5%;
        transform: translate(-12.5%, -70.25%);
    }

    .destination:nth-of-type(2) {
        top: 64%;
        left: 18%;
        transform: translate(-18%, -64%);
    }

    .destination:nth-of-type(3) {
        top: 67%;
        left: 24%;
        transform: translate(-24%, -67%);
        background-color: sandybrown;
    }

    .destination:nth-of-type(4) {
        top: 62.2%;
        left: 32%;
        transform: translate(-32%, -62.2%);
    }

    .destination:nth-of-type(5) {
        top: 50%;
        left: 40%;
        transform: translate(-40%, -50%);
        background-color: seagreen;
    }

    .destination:nth-of-type(6) {
        top: 53%;
        left: 32%;
        transform: translate(-32%, -53%);
        background-color: sandybrown;
    }

    .destination:nth-of-type(7) {
        top: 59%;
        left: 43%;
        transform: translate(-43%, -59%);
    }

    .destination:nth-of-type(8) {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        background-color: seagreen;
    }

    .destination:nth-of-type(9) {
        top: 47%;
        left: 55%;
        transform: translate(-55%, -47%);
    }

    .destination:nth-of-type(10) {
        top: 40%;
        left: 74%;
        transform: translate(-74%, -40%);
        background-color: sandybrown;
    }

    .destination:nth-of-type(1),
    .destination:nth-of-type(2),
    .destination:nth-of-type(4),
    .destination:nth-of-type(7),
    .destination:nth-of-type(9) {
        animation: destinationBlue 3s infinite linear;
    }

    .destination:nth-of-type(3),
    .destination:nth-of-type(6),
    .destination:nth-of-type(10) {
        animation: destinationBrown 3s infinite linear;

    }

    .destination:nth-of-type(5),
    .destination:nth-of-type(8) {
        animation: destinationGreen 3s infinite linear;

    }
}

@media (max-width: 1199px) {
    aside {
        flex-basis: 450px;
        background-image: url('../Photos/europe.png');
        background-position-y: 380px;
        background-position-x: center;
        border: 2px solid grey;
        margin-bottom: 35px;
        background-size: cover;
    }

    header {
        background-image: url('../Photos/blueprints.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
    }
}

@keyframes destinationBlue {
    50% {
        box-shadow: 0px 0px 20px darkblue;
    }
}

@keyframes destinationGreen {
    50% {
        box-shadow: 0px 0px 20px darkgreen;
    }
}

@keyframes destinationBrown {
    50% {
        box-shadow: 0px 0px 20px brown;
    }
}