.coronaAnimation p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    background-color: transparent;
    border: none;
    color: black;
    font-size: 12px;
    font-style: italic;
    animation: corona 5s linear infinite;
}

header {
    display: flex;
    align-self: stretch;
    flex-basis: 200px;
    align-items: stretch;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.headerWrapper h2 {
    color: white;
    padding: 15px 10px;
}

.headerWrapper p {
    color: white;
    font-weight: 500;
    padding-left: 10px;
    font-size: 25px;
}

.headerWrapper p span {
    color: rgb(217, 75, 75);
    font-weight: 500;
    font-size: 25px;
}

section {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

main div {
    flex-basis: 400px;
    border: 2px solid gray;
    margin: 20px 0;
}

main h2 {
    font-size: 35px;
    font-weight: 600;
    margin-left: 20px;
}

main h2:first-of-type {
    margin-top: 20px;
}

main h2:last-of-type {
    margin-bottom: 20px;
}

main div:first-of-type {
    background-image: url("../Photos/level0.PNG");
    background-size: cover;
}

main div:nth-of-type(2) {
    background-image: url("../Photos/level1.PNG");
    background-size: cover;
}

main div:last-of-type {
    background-image: url("../Photos/level2.PNG");
    background-size: cover;
}

aside {
    background-color: cadetblue;
    flex-basis: 30%;
    min-width: 400px;
}

@media (min-width: 1200px) {
    header {
        background-image: url('../Photos/blueprints.jpg');
    }

    main {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-around;
    }

    main div {
        flex-basis: 400px;
        border: 2px solid gray;
        margin: 20px 0;
        width: 95%;
    }

    main h2 {
        font-size: 35px;
        font-weight: 600;
        margin-left: 20px;
    }

    main h2:first-of-type {
        margin-top: 20px;
    }

    main h2:first-of-type {
        margin-left: 0;
    }

    main div:first-of-type {
        background-image: url("../Photos/level0.PNG");
        background-size: cover;
    }

    main div:nth-of-type(2) {
        background-image: url("../Photos/level1.PNG");
        background-size: cover;
    }

    main div:last-of-type {
        background-image: url("../Photos/level2.PNG");
        background-size: cover;
    }


    main h2:last-of-type {
        position: absolute;
        top: 1.5%;
        left: 260%;
        transform: translate(-260%, 0);
        width: 500px;
    }

    aside {
        background-color: cadetblue;
        flex-basis: 40%;
        min-width: 400px;
        background-image: url("../Photos/europe.png");
        margin-bottom: 20px;
        margin-top: 87px;
        border: 2px solid gray;
        background-position-x: center;
    }
}

@media (max-width: 1199px) {
    aside {
        flex-basis: 450px;
        background-image: url('../Photos/europe.png');
        background-position-y: 380px;
        background-position-x: center;
        border: 2px solid grey;
        margin-bottom: 35px;
    }

    header {
        background-image: url('../Photos/blueprints.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
    }
}