.coronaAnimation p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    background-color: transparent;
    border: none;
    color: black;
    font-size: 12px;
    font-style: italic;
    animation: corona 5s linear infinite;
}

header {
    display: flex;
    align-self: stretch;
    flex-basis: 200px;
    align-items: stretch;
    background: rgba(232, 228, 228);
}

.headerImg {
    opacity: .75;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.headerWrapper h2 {
    color: black;
    padding: 15px 10px;
}

.headerWrapper p {
    color: black;
    font-weight: 500;
    padding-left: 10px;
    font-size: 25px;
}

.headerWrapper p span {
    color: rgb(217, 75, 75);
    font-weight: 500;
    font-size: 25px;
}

section {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-basis: 70px;
}

.tableHeader div:first-of-type {
    background-color: black;
    color: white;
    border: 2px solid grey;
    flex-basis: 50%;
    line-height: 70px;
    text-align: center;
}

.tableHeader div:last-of-type {
    background-color: white;
    color: black;
    border: 2px solid grey;
    border-left: none;
    flex-grow: 1;
    line-height: 70px;
    text-align: center;
}

.departures,
.arrivals {
    flex-basis: 200px;
    position: relative;
    background-color: rgba(232, 228, 228);
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}

.arrivals {
    background-color: red;
}

.stripe {
    position: absolute;
    width: 92%;
    height: 3px;
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
}

.stripe:nth-of-type(1) {
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

.stripe:nth-of-type(2) {
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.stripe:nth-of-type(3) {
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

.stripe:last-of-type {
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

th,
td {
    padding: 5px 25px;
    text-align: left;
}

th {
    font-weight: 500;
    color: rgb(112, 112, 112);

}

@media (min-width: 1200px) {

    header {
        background-image: url('../Photos/schedule.jpg');
    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }

    .mobileSchedule {
        display: none;
    }

    .mainSectionTable {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 500px;
        justify-self: stretch;
        border: 3px solid rgb(112, 112, 112);
        background-color: rgba(232, 228, 228);
        margin: 15px;
        margin-bottom: 0;
        border-radius: 20px;
    }

    .mainSectionTable:nth-of-type(2) {
        margin-bottom: 15px;
    }

    tr th {
        color: rgb(112, 112, 112);
        font-size: 25x;
        padding-top: 4px;
        padding-left: 0;
        text-align: center;
    }

    tr td {
        font-size: 20px;
        padding-top: 20px;
        padding-left: 110px;
    }

    tr td:last-of-type {
        padding-left: -10px;
    }

    .tableTopStripe {
        position: absolute;
        width: 97%;
        height: 5px;
        background-color: rgb(112, 112, 112);
        top: 28%;
        left: 1.5%;
        border-radius: 10px;
    }

    .tableBottomStripe {
        position: absolute;
        width: 97%;
        height: 5px;
        background-color: rgb(112, 112, 112);
        bottom: 4%;
        left: 1.5%;
        border-radius: 10px;
    }

    .mainSectionTable p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        font-weight: 500;
        height: 80px;
        color: white;
        background-color: rgba(0, 0, 0, .84);
        border-radius: 20px;
        background-color: rgba(0, 0, 0, .84);
        transform: translateY(-4%);
    }
}

@media (max-width: 1199px) {
    header {
        background-image: url('../Photos/schedule.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
    }

    .desktopSchedule {
        display: none;
    }
}